body{
        background-image: linear-gradient(to bottom right, #01222d, #026586);
        color: #fff;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
*{
    text-align: center;
}
form input[type="text"]{
    font-size: 20px;
    padding: 5px;
}
form input[type="submit"]{
    padding: 7px;
    font-size: 17px;
    background-color: rgb(240, 156, 0);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:active{
    background-color: #f86401;
}
#newGame{
    cursor: pointer;
    color: #f86401;
}
#newGame:hover{
    color: #fd8230;
    text-decoration: underline #fd8230;
}
